<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<html>
    <body>
    <div layout:fragment="content">
        
        <div>
            <h1>Comidas</h1>
            
            <br/>
	          <div th:each="item : ${itensCardapio}"> 
	            <span th:text="${item.nome}"></span>
	            <br/>
	            <span th:text="${item.categoria}"></span>
	            <br/>
	            <span th:text="${item.descricao}"></span>
	            <br/>
	            <span th:text="${#numbers.formatCurrency(item.preco)}"></span>
	            <br/>
	            <br/>
	            <input type="button" value="Remover" th:onclick = "'location.href =\'' + @{/restaurante/comidas/remove} + '?idItemCardapio=' + ${item.id} +'\';'"/> <br/>
	            <br/><br/>
	          </div> 
        </div>
        <br/><br/>
        
        <div>
        <h1>Nova comida</h1>
        <form method="post" th:object="${itemCardapio}" th:action="@{/restaurante/comidas/cadastrar}" enctype="multipart/form-data">
			<fieldset>
				<input type="hidden" name="restaurante.id" th:value="${restaurante.id}" />			
			
				<label for="nome">Nome: </label><br />	
				<input type="text" id="nome" th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? 'inputError' : ''" /><br />
				<div id="mensagemDeErro" th:if="${#fields.hasErrors('nome')}">
					<span th:errors="*{nome}"></span>
				</div><br />
				
				<label for="descricao">Descrição: </label><br />	
				<input type="text" id="descricao" th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? 'inputError' : ''" /><br />
				<div id="mensagemDeErro" th:if="${#fields.hasErrors('descricao')}">
					<span th:errors="*{descricao}"></span>
				</div><br />
				
				<label for="preco">Preço: </label><br />	
				<input type="text"id="preco" th:field="*{preco}" th:classappend="${#fields.hasErrors('preco')} ? 'inputError' : ''" /><br />
				<div id="mensagemDeErro" th:if="${#fields.hasErrors('preco')}">
					<span th:errors="*{preco}"></span>
				</div><br />
				
				<label for="destaque">Destaque: </label><br />	
				<input type="checkbox" id="destaque" th:field="*{destaque}" /><br />
				
				<label for="categoria">Categoria de comida: </label><br />		
				
				<select id="categoria" th:field="*{categoria}" th:classappend="${#fields.hasErrors('categoria')} ? 'inputError' : ''">
					<option th:each="categoria : ${categorias}" th:value="${categoria.nome}" th:text="${categoria.nome}"></option>
				</select>
				
				
				<div id="mensagemDeErro" th:if="${#fields.hasErrors('categoria')}">
					<span th:errors="*{categoria}"></span>
				</div><br />
				
				<label for="comida">Imagem: </label><br>	
				<input type="file" id="comida" th:field="*{imagemFile}" placeholder="Selecionar..." th:classappend="${#fields.hasErrors('imagemFile')} ? 'inputError' : ''"><br />
				<div id="mensagemDeErro" th:if="${#fields.hasErrors('imagemFile')}">
					<span th:errors="*{imagemFile}"></span>
				</div>
				<br /><br />

				<input type="submit" value="Adicionar" /><br /><br />
			</fieldset>
		</form>
            
        </div>
        
        <br/><br/>
         <div>
            <input type="button" value="Voltar" th:onclick = "'location.href =\'' + @{/restaurante/home} + '\';'"/><br/>
         </div>
        
       
	        <br/><br/>
       </div>
      </body>
</html>